
.card{
  
  height: 450px;

 width: 100%;
 
 background-color: #ecf0f1;
 
 
}

.otherContent {
  display: grid;

}


.form-container{
  display: flex;
   flex-direction: column;
   width: 100%;
   text-align: center;
   /* $width: 40px; */
}
.form-container > * {
  width: 100%;
}

.container{
  width: 200%;
  margin: auto;
  font-family: sans-serif;
}
mat-card-title.mat-card-title {
  /* align-content: center; */
  text-align: center;
  color: rgba(107, 6, 6, 0.9);
  

}

.btnsub {
  text-align: center;
  margin: auto;
    width: 50% !important;
    float: none !important;
}

.register{
  text-align: center;
  text-decoration: none;
  color: rgba(107, 6, 6, 0.9);
}

.register:hover{
  text-decoration: underline;

}
mat-card.container.mat-card {
  
  
  margin: 7% -46%;
}
a.register {
  margin: 0px -54px;
}


button.btnsub.mat-raised-button {
  color: white;
}

button.btnsub.mat-raised-button {
  background-color: rgba(107, 6, 6, 0.9);
}

.main{
  
  height: 500px;
  width: 325px;
  border: 1px solid white;
  margin-left: 200px;
  

  
  
}

.label{
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}









