 <!-- <a routerLink="/user" routerLinkActive="active">Favourites</a> -->


 <!-- <div class="title"><img src="./assets/logo.png"> SEMANTIC SEARCH</div> -->
    <div class="container cont-height">
      <div class="row">
       
        <div class="col-sm-9">
          <form role="search">
              
            <div class="input-group add-on">
              
                <div class="border">
                <form class="example-form">
                   
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Search in Java" #sendValue value="what is interface" class="fontcolor">
                    </mat-form-field>

                    <!-- <mat-form-field class="example-full-width">
                        <input matInput placeholder="Intent" #sendintent value="basics" class="fontcolor">
                      </mat-form-field> -->
                      
                  </form>

                 <div class="input-group-btn fontcolor">
                  <button mat-raised-button type="button" (click)="onClick(sendValue.value)" class="buttoncolor">
                    Search
                  </button>
                </div>
                </div>   
              </div>          
            
          </form>
 

        </div>
      </div>

    </div> 
    
        
        <!-- <app-header></app-header> -->
        
        
       
      

  
 