.example-fill-remaining-space{
    flex:1 1 auto;
}

  a{
      color: #d3d3d3;
      font-size: 14px;
      text-decoration: none;
      display: flex;
      align-items: center;
  }


  .inline-icon {
    font-size: 20px !important;
    padding: 0 3px 0 3px;
 }

 .mat-button{
     padding: 5px 5px;
     margin-right: 10px;
 }
 

i{
    color: white;
}
a{
    color: white;
}

.index{
    z-index: 5;
}