.example-container {
  width: 100%;
  height: 650px;
  background-color: transparent;
 
}

.example-sidenav {
  padding: 20px;
  width: 250px;
  height: 100%;
}
.example-full-width {
  width: 100%;
}

.example-sidenav-right {
  width: 350px;
  background-color:transparent;
  
}

.testclass {
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: transparent;
  
  
}
.testclass:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  
  opacity: 0.7;
}

.example-fill-remaining-space{
  flex:1 1 auto;
}

.ahref{
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
}


.inline-icon {
  font-size: 20px !important;
  padding: 0 3px 0 3px;
}

.button{
   padding: 5px 5px ;
   display: block;
   width: 100%;
   position: relative;
   
}
.main{
  height: 100%;
  
  background-color: transparent;
}
.h4-style{
   position: relative;
   padding-left: 10px;
   color: black;
   display: inline;
}

.h4-margin{
 margin-top: 10px;
}

.logo-img{
  width: 42px;
  position: relative;
  display: inline;
}

.searchbar{
  margin-left: 9%;
  margin-top: 90px;
}




.roww{
  padding:10px;
  margin-bottom: 10px;
  background-color: transparent;
  border-radius: 12px;
}

.searchbar{
  background-color: transparent;
}

.linkcolor{
  color: #FABE58;
}

.example-fill-remaining-space{
  flex:1 1 auto;
}

a{
    color: #d3d3d3;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.inline-icon {
  font-size: 20px !important;
  padding: 0 3px 0 3px;
}

.mat-button{
   padding: 5px 5px;
   margin-right: 10px;
}


.btn-color{
  background-color: transparent;
}

.fieldcolor{
  font-size: 22px;
  }
.loader1{
  margin-top: 0px;
  width: 100%;
}

.btn-color3{
  color: white;
}

mat-card{
border: .5px solid #b2bbe9;
}

.success-alert{
  color: rgb(29, 151, 13);
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#e3e3e3;
  text-align: center;
  padding-top:10px;
}

i{
  color: white;
}
a{
  color: white;
}

.boxes{
  color:#2c47ab;
  width:100px;
  height: 40px;
  text-align: center;
  border:2px solid #2c47ab;
  border-radius: 10px;
  float:right;
  background-color: transparent;
  margin-left: 20px;
  margin-top: 20px;
}

.domain{
  float: right;
  
  width:400px;
}

.domaincontent{
 margin-top: 5px;
}

.domtitle{
  text-align: center;
}

